<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./content/css/style.css">
        <title>Triple Triad</title>
    </head>
    <body>
        <table>
            <tr class="row" data-column="1">
                <td class="column" data-row="1">
                    <div class="container1"></div>
                </td>
                <td class="column" data-row="2">
                    <div class="container2"></div>
                </td>
                <td class="column" data-row="3">
                    <div class="container3"></div>
                </td>
            </tr>
            <tr class="row" data-column="2">
                <td class="column" data-row="1">
                    <div class="container4"></div>
                </td>
                <td class="column" data-row="2">
                    <div class="container5"></div>
                </td>
                <td class="column" data-row="3">
                    <div class="container6"></div>
                </td>
            </tr>
            <tr class="row" data-column="3">
                <td class="column" data-row="1">
                    <div class="container7"></div>
                </td>
                <td class="column" data-row="2">
                    <div class="container8"></div>
                </td>
                <td class="column" data-row="3">
                    <div class="container"></div>
                </td>
            </tr>
        </table>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
        <script src='./content/js/script.js'></script>
    </body>
</html>
