<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./content/css/style.css">
        <title>Triple Triad</title>
    </head>
    <body>
        <table>
            <tr class="column" data-column="1">
                <td class="row" data-row="1">
                    <div></div>
                </td>
                <td class="row" data-row="2">
                    <div></div>
                </td>
                <td class="row" data-row="3">
                    <div data-row="3"></div>
                </td>
            </tr>
            <tr class="column" data-column="2">
                <td class="row" data-row="1">
                    <div></div>
                </td>
                <td class="row" data-row="2">
                    <div></div>
                </td>
                <td class="row" data-row="3">
                    <div></div>
                </td>
            </tr>
            <tr class="column" data-column="3">
                <td class="row" data-row="1">
                    <div></div>
                </td>
                <td class="row" data-row="2">
                    <div></div>
                </td>
                <td class="row" data-row="3">
                    <div></div>
                </td>
            </tr>
        </table>

    </body>
</html>
