.row {
    height: 150px;
}

.column {
    width: 150px;
}

table, tr, td {
    border-style: solid;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hand {
    display: flex;
}
